:root {
    --material-theme-body-large-font-family: "Roboto", Helvetica;
    --material-theme-body-large-font-size: 16px;
    --material-theme-body-large-font-style: normal;
    --material-theme-body-large-font-weight: 400;
    --material-theme-body-large-letter-spacing: 0.5px;
    --material-theme-body-large-line-height: 24px;
    --material-theme-body-medium-font-family: "Roboto", Helvetica;
    --material-theme-body-medium-font-size: 14px;
    --material-theme-body-medium-font-style: normal;
    --material-theme-body-medium-font-weight: 400;
    --material-theme-body-medium-letter-spacing: 0.25px;
    --material-theme-body-medium-line-height: 20px;
    --material-theme-body-small-font-family: "Roboto", Helvetica;
    --material-theme-body-small-font-size: 12px;
    --material-theme-body-small-font-style: normal;
    --material-theme-body-small-font-weight: 400;
    --material-theme-body-small-letter-spacing: 0.4000000059604645px;
    --material-theme-body-small-line-height: 16px;
    --material-theme-display-large-font-family: "Roboto", Helvetica;
    --material-theme-display-large-font-size: 57px;
    --material-theme-display-large-font-style: normal;
    --material-theme-display-large-font-weight: 400;
    --material-theme-display-large-letter-spacing: -0.25px;
    --material-theme-display-large-line-height: 64px;
    --material-theme-display-medium-font-family: "Roboto", Helvetica;
    --material-theme-display-medium-font-size: 45px;
    --material-theme-display-medium-font-style: normal;
    --material-theme-display-medium-font-weight: 400;
    --material-theme-display-medium-letter-spacing: 0px;
    --material-theme-display-medium-line-height: 52px;
    --material-theme-display-small-font-family: "Roboto", Helvetica;
    --material-theme-display-small-font-size: 36px;
    --material-theme-display-small-font-style: normal;
    --material-theme-display-small-font-weight: 400;
    --material-theme-display-small-letter-spacing: 0px;
    --material-theme-display-small-line-height: 44px;
    --material-theme-headline-large-font-family: "Roboto", Helvetica;
    --material-theme-headline-large-font-size: 32px;
    --material-theme-headline-large-font-style: normal;
    --material-theme-headline-large-font-weight: 400;
    --material-theme-headline-large-letter-spacing: 0px;
    --material-theme-headline-large-line-height: 40px;
    --material-theme-headline-medium-font-family: "Roboto", Helvetica;
    --material-theme-headline-medium-font-size: 28px;
    --material-theme-headline-medium-font-style: normal;
    --material-theme-headline-medium-font-weight: 400;
    --material-theme-headline-medium-letter-spacing: 0px;
    --material-theme-headline-medium-line-height: 36px;
    --material-theme-headline-small-font-family: "Roboto", Helvetica;
    --material-theme-headline-small-font-size: 24px;
    --material-theme-headline-small-font-style: normal;
    --material-theme-headline-small-font-weight: 400;
    --material-theme-headline-small-letter-spacing: 0px;
    --material-theme-headline-small-line-height: 32px;
    --material-theme-label-large-font-family: "Roboto", Helvetica;
    --material-theme-label-large-font-size: 14px;
    --material-theme-label-large-font-style: normal;
    --material-theme-label-large-font-weight: 500;
    --material-theme-label-large-letter-spacing: 0.10000000149011612px;
    --material-theme-label-large-line-height: 20px;
    --material-theme-label-medium-font-family: "Roboto", Helvetica;
    --material-theme-label-medium-font-size: 12px;
    --material-theme-label-medium-font-style: normal;
    --material-theme-label-medium-font-weight: 500;
    --material-theme-label-medium-letter-spacing: 0.5px;
    --material-theme-label-medium-line-height: 16px;
    --material-theme-label-small-font-family: "Roboto", Helvetica;
    --material-theme-label-small-font-size: 11px;
    --material-theme-label-small-font-style: normal;
    --material-theme-label-small-font-weight: 500;
    --material-theme-label-small-letter-spacing: 0.5px;
    --material-theme-label-small-line-height: 16px;
    --material-theme-schemes-background: rgba(246, 250, 254, 1);
    --material-theme-schemes-error: rgba(186, 26, 26, 1);
    --material-theme-schemes-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-inverse-on-surface: rgba(237, 241, 245, 1);
    --material-theme-schemes-inverse-primary: rgba(145, 206, 244, 1);
    --material-theme-schemes-inverse-surface: rgba(44, 49, 52, 1);
    --material-theme-schemes-on-background: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-error-container: rgba(65, 0, 2, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-container: rgba(0, 30, 45, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 30, 45, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(0, 76, 106, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-container: rgba(10, 30, 40, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(10, 30, 40, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(55, 73, 85, 1);
    --material-theme-schemes-on-surface: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-surface-variant: rgba(65, 72, 77, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-container: rgba(29, 23, 53, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(29, 23, 53, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(73, 66, 99, 1);
    --material-theme-schemes-outline: rgba(113, 120, 126, 1);
    --material-theme-schemes-outline-variant: rgba(193, 199, 206, 1);
    --material-theme-schemes-primary: rgba(31, 101, 134, 1);
    --material-theme-schemes-primary-container: rgba(197, 231, 255, 1);
    --material-theme-schemes-primary-fixed: rgba(197, 231, 255, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(145, 206, 244, 1);
    --material-theme-schemes-scrim: rgba(0, 0, 0, 1);
    --material-theme-schemes-secondary: rgba(78, 97, 109, 1);
    --material-theme-schemes-secondary-container: rgba(210, 229, 244, 1);
    --material-theme-schemes-secondary-fixed: rgba(210, 229, 244, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-theme-schemes-shadow: rgba(0, 0, 0, 1);
    --material-theme-schemes-surface: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-bright: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-container: rgba(235, 238, 243, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 232, 237, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 227, 231, 1);
    --material-theme-schemes-surface-container-low: rgba(240, 244, 248, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 218, 223, 1);
    --material-theme-schemes-surface-tint: rgba(31, 101, 134, 1);
    --material-theme-schemes-surface-variant: rgba(221, 227, 234, 1);
    --material-theme-schemes-tertiary: rgba(97, 89, 124, 1);
    --material-theme-schemes-tertiary-container: rgba(231, 222, 255, 1);
    --material-theme-schemes-tertiary-fixed: rgba(231, 222, 255, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(203, 193, 233, 1);
    --material-theme-title-large-font-family: "Roboto", Helvetica;
    --material-theme-title-large-font-size: 22px;
    --material-theme-title-large-font-style: normal;
    --material-theme-title-large-font-weight: 400;
    --material-theme-title-large-letter-spacing: 0px;
    --material-theme-title-large-line-height: 28px;
    --material-theme-title-medium-font-family: "Roboto", Helvetica;
    --material-theme-title-medium-font-size: 16px;
    --material-theme-title-medium-font-style: normal;
    --material-theme-title-medium-font-weight: 500;
    --material-theme-title-medium-letter-spacing: 0.15000000596046448px;
    --material-theme-title-medium-line-height: 24px;
    --material-theme-title-small-font-family: "Roboto", Helvetica;
    --material-theme-title-small-font-size: 14px;
    --material-theme-title-small-font-style: normal;
    --material-theme-title-small-font-weight: 500;
    --material-theme-title-small-letter-spacing: 0.10000000149011612px;
    --material-theme-title-small-line-height: 20px;
    --material-themeblack: rgba(0, 0, 0, 1);
    --material-themekey-colorsprimary: rgba(199, 230, 252, 1);
    --material-themereferrorerror0: rgba(0, 0, 0, 1);
    --material-themereferrorerror10: rgba(65, 0, 2, 1);
    --material-themereferrorerror100: rgba(255, 255, 255, 1);
    --material-themereferrorerror15: rgba(84, 0, 3, 1);
    --material-themereferrorerror20: rgba(105, 0, 5, 1);
    --material-themereferrorerror25: rgba(126, 0, 7, 1);
    --material-themereferrorerror30: rgba(147, 0, 10, 1);
    --material-themereferrorerror35: rgba(168, 7, 16, 1);
    --material-themereferrorerror40: rgba(186, 26, 26, 1);
    --material-themereferrorerror5: rgba(45, 0, 1, 1);
    --material-themereferrorerror50: rgba(222, 55, 48, 1);
    --material-themereferrorerror60: rgba(255, 84, 73, 1);
    --material-themereferrorerror70: rgba(255, 137, 125, 1);
    --material-themereferrorerror80: rgba(255, 180, 171, 1);
    --material-themereferrorerror90: rgba(255, 218, 214, 1);
    --material-themereferrorerror95: rgba(255, 237, 234, 1);
    --material-themereferrorerror98: rgba(255, 248, 247, 1);
    --material-themereferrorerror99: rgba(255, 251, 255, 1);
    --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
    --material-themerefneutral-variantneutral-variant10: rgba(26, 28, 30, 1);
    --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
    --material-themerefneutral-variantneutral-variant15: rgba(36, 38, 40, 1);
    --material-themerefneutral-variantneutral-variant20: rgba(46, 49, 51, 1);
    --material-themerefneutral-variantneutral-variant25: rgba(58, 60, 62, 1);
    --material-themerefneutral-variantneutral-variant30: rgba(69, 71, 73, 1);
    --material-themerefneutral-variantneutral-variant35: rgba(81, 83, 85, 1);
    --material-themerefneutral-variantneutral-variant40: rgba(93, 94, 97, 1);
    --material-themerefneutral-variantneutral-variant5: rgba(15, 17, 19, 1);
    --material-themerefneutral-variantneutral-variant50: rgba(118, 119, 121, 1);
    --material-themerefneutral-variantneutral-variant60: rgba(143, 145, 147, 1);
    --material-themerefneutral-variantneutral-variant70: rgba(170, 171, 173, 1);
    --material-themerefneutral-variantneutral-variant80: rgba(198, 198, 201, 1);
    --material-themerefneutral-variantneutral-variant90: rgba(226, 226, 229, 1);
    --material-themerefneutral-variantneutral-variant95: rgba(240, 240, 243, 1);
    --material-themerefneutral-variantneutral-variant98: rgba(249, 249, 251, 1);
    --material-themerefneutral-variantneutral-variant99: rgba(252, 252, 254, 1);
    --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
    --material-themerefneutralneutral10: rgba(27, 28, 28, 1);
    --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
    --material-themerefneutralneutral15: rgba(37, 38, 39, 1);
    --material-themerefneutralneutral20: rgba(48, 48, 49, 1);
    --material-themerefneutralneutral25: rgba(59, 59, 60, 1);
    --material-themerefneutralneutral30: rgba(70, 71, 71, 1);
    --material-themerefneutralneutral35: rgba(82, 82, 83, 1);
    --material-themerefneutralneutral40: rgba(94, 94, 95, 1);
    --material-themerefneutralneutral5: rgba(16, 17, 18, 1);
    --material-themerefneutralneutral50: rgba(119, 119, 120, 1);
    --material-themerefneutralneutral60: rgba(145, 144, 145, 1);
    --material-themerefneutralneutral70: rgba(172, 171, 171, 1);
    --material-themerefneutralneutral80: rgba(199, 198, 199, 1);
    --material-themerefneutralneutral90: rgba(228, 226, 227, 1);
    --material-themerefneutralneutral95: rgba(242, 240, 241, 1);
    --material-themerefneutralneutral98: rgba(251, 249, 249, 1);
    --material-themerefneutralneutral99: rgba(254, 252, 252, 1);
    --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
    --material-themerefprimaryprimary10: rgba(0, 30, 45, 1);
    --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
    --material-themerefprimaryprimary15: rgba(6, 41, 57, 1);
    --material-themerefprimaryprimary20: rgba(20, 52, 68, 1);
    --material-themerefprimaryprimary25: rgba(32, 63, 80, 1);
    --material-themerefprimaryprimary30: rgba(44, 74, 92, 1);
    --material-themerefprimaryprimary35: rgba(56, 86, 104, 1);
    --material-themerefprimaryprimary40: rgba(69, 98, 116, 1);
    --material-themerefprimaryprimary5: rgba(0, 19, 30, 1);
    --material-themerefprimaryprimary50: rgba(93, 123, 142, 1);
    --material-themerefprimaryprimary60: rgba(119, 149, 169, 1);
    --material-themerefprimaryprimary70: rgba(145, 175, 196, 1);
    --material-themerefprimaryprimary80: rgba(172, 203, 224, 1);
    --material-themerefprimaryprimary90: rgba(200, 231, 253, 1);
    --material-themerefprimaryprimary95: rgba(228, 243, 255, 1);
    --material-themerefprimaryprimary98: rgba(245, 250, 255, 1);
    --material-themerefprimaryprimary99: rgba(251, 252, 255, 1);
    --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
    --material-themerefsecondarysecondary10: rgba(22, 28, 33, 1);
    --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
    --material-themerefsecondarysecondary15: rgba(32, 39, 43, 1);
    --material-themerefsecondarysecondary20: rgba(43, 49, 54, 1);
    --material-themerefsecondarysecondary25: rgba(54, 60, 65, 1);
    --material-themerefsecondarysecondary30: rgba(65, 72, 76, 1);
    --material-themerefsecondarysecondary35: rgba(77, 83, 88, 1);
    --material-themerefsecondarysecondary40: rgba(89, 95, 100, 1);
    --material-themerefsecondarysecondary5: rgba(12, 18, 22, 1);
    --material-themerefsecondarysecondary50: rgba(114, 120, 125, 1);
    --material-themerefsecondarysecondary60: rgba(139, 145, 151, 1);
    --material-themerefsecondarysecondary70: rgba(166, 172, 177, 1);
    --material-themerefsecondarysecondary80: rgba(193, 199, 205, 1);
    --material-themerefsecondarysecondary90: rgba(221, 227, 233, 1);
    --material-themerefsecondarysecondary95: rgba(236, 241, 247, 1);
    --material-themerefsecondarysecondary98: rgba(245, 250, 255, 1);
    --material-themerefsecondarysecondary99: rgba(251, 252, 255, 1);
    --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
    --material-themereftertiarytertiary10: rgba(29, 26, 38, 1);
    --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
    --material-themereftertiarytertiary15: rgba(39, 36, 48, 1);
    --material-themereftertiarytertiary20: rgba(50, 47, 59, 1);
    --material-themereftertiarytertiary25: rgba(61, 58, 70, 1);
    --material-themereftertiarytertiary30: rgba(72, 69, 82, 1);
    --material-themereftertiarytertiary35: rgba(84, 80, 94, 1);
    --material-themereftertiarytertiary40: rgba(96, 92, 106, 1);
    --material-themereftertiarytertiary5: rgba(18, 15, 27, 1);
    --material-themereftertiarytertiary50: rgba(121, 117, 131, 1);
    --material-themereftertiarytertiary60: rgba(147, 142, 157, 1);
    --material-themereftertiarytertiary70: rgba(174, 169, 184, 1);
    --material-themereftertiarytertiary80: rgba(202, 196, 212, 1);
    --material-themereftertiarytertiary90: rgba(230, 224, 240, 1);
    --material-themereftertiarytertiary95: rgba(245, 238, 255, 1);
    --material-themereftertiarytertiary98: rgba(253, 247, 255, 1);
    --material-themereftertiarytertiary99: rgba(255, 251, 255, 1);
    --material-themesourceseed: rgba(199, 230, 252, 1);
    --material-themesysdark-high-contrastbackground: rgba(15, 20, 23, 1);
    --material-themesysdark-high-contrasterror: rgba(255, 249, 249, 1);
    --material-themesysdark-high-contrasterror-container: rgba(255, 186, 177, 1);
    --material-themesysdark-high-contrastinverse-on-surface: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastinverse-primary: rgba(0, 46, 65, 1);
    --material-themesysdark-high-contrastinverse-surface: rgba(223, 227, 231, 1);
    --material-themesysdark-high-contraston-background: rgba(223, 227, 231, 1);
    --material-themesysdark-high-contraston-error: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-error-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-primary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-primary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-primary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-primary-fixed-variant: rgba(0, 25, 37, 1);
    --material-themesysdark-high-contraston-secondary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-secondary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-secondary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-secondary-fixed-variant: rgba(5, 24, 35, 1);
    --material-themesysdark-high-contraston-surface: rgba(255, 255, 255, 1);
    --material-themesysdark-high-contraston-surface-variant: rgba(248, 251, 255, 1);
    --material-themesysdark-high-contraston-tertiary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-tertiary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-tertiary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contraston-tertiary-fixed-variant: rgba(24, 17, 48, 1);
    --material-themesysdark-high-contrastoutline: rgba(197, 203, 210, 1);
    --material-themesysdark-high-contrastoutline-variant: rgba(197, 203, 210, 1);
    --material-themesysdark-high-contrastprimary: rgba(248, 251, 255, 1);
    --material-themesysdark-high-contrastprimary-container: rgba(149, 210, 249, 1);
    --material-themesysdark-high-contrastprimary-fixed: rgba(207, 235, 255, 1);
    --material-themesysdark-high-contrastprimary-fixed-dim: rgba(149, 210, 249, 1);
    --material-themesysdark-high-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastsecondary: rgba(248, 251, 255, 1);
    --material-themesysdark-high-contrastsecondary-container: rgba(186, 205, 220, 1);
    --material-themesysdark-high-contrastsecondary-fixed: rgba(214, 234, 248, 1);
    --material-themesysdark-high-contrastsecondary-fixed-dim: rgba(186, 205, 220, 1);
    --material-themesysdark-high-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastsurface: rgba(15, 20, 23, 1);
    --material-themesysdark-high-contrastsurface-bright: rgba(53, 58, 61, 1);
    --material-themesysdark-high-contrastsurface-container: rgba(28, 32, 35, 1);
    --material-themesysdark-high-contrastsurface-container-high: rgba(38, 43, 46, 1);
    --material-themesysdark-high-contrastsurface-container-highest: rgba(49, 53, 57, 1);
    --material-themesysdark-high-contrastsurface-container-low: rgba(24, 28, 31, 1);
    --material-themesysdark-high-contrastsurface-container-lowest: rgba(10, 15, 18, 1);
    --material-themesysdark-high-contrastsurface-dim: rgba(15, 20, 23, 1);
    --material-themesysdark-high-contrastsurface-tint: rgba(145, 206, 244, 1);
    --material-themesysdark-high-contrastsurface-variant: rgba(65, 72, 77, 1);
    --material-themesysdark-high-contrasttertiary: rgba(254, 249, 255, 1);
    --material-themesysdark-high-contrasttertiary-container: rgba(207, 197, 238, 1);
    --material-themesysdark-high-contrasttertiary-fixed: rgba(235, 227, 255, 1);
    --material-themesysdark-high-contrasttertiary-fixed-dim: rgba(207, 197, 238, 1);
    --material-themesysdark-medium-contrastbackground: rgba(15, 20, 23, 1);
    --material-themesysdark-medium-contrasterror: rgba(255, 186, 177, 1);
    --material-themesysdark-medium-contrasterror-container: rgba(255, 84, 73, 1);
    --material-themesysdark-medium-contrastinverse-on-surface: rgba(38, 43, 46, 1);
    --material-themesysdark-medium-contrastinverse-primary: rgba(0, 77, 108, 1);
    --material-themesysdark-medium-contrastinverse-surface: rgba(223, 227, 231, 1);
    --material-themesysdark-medium-contraston-background: rgba(223, 227, 231, 1);
    --material-themesysdark-medium-contraston-error: rgba(55, 0, 1, 1);
    --material-themesysdark-medium-contraston-error-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contraston-primary: rgba(0, 25, 37, 1);
    --material-themesysdark-medium-contraston-primary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contraston-primary-fixed: rgba(0, 19, 30, 1);
    --material-themesysdark-medium-contraston-primary-fixed-variant: rgba(0, 59, 83, 1);
    --material-themesysdark-medium-contraston-secondary: rgba(5, 24, 35, 1);
    --material-themesysdark-medium-contraston-secondary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contraston-secondary-fixed: rgba(1, 19, 29, 1);
    --material-themesysdark-medium-contraston-secondary-fixed-variant: rgba(38, 56, 68, 1);
    --material-themesysdark-medium-contraston-surface: rgba(248, 251, 255, 1);
    --material-themesysdark-medium-contraston-surface-variant: rgba(197, 203, 210, 1);
    --material-themesysdark-medium-contraston-tertiary: rgba(24, 17, 48, 1);
    --material-themesysdark-medium-contraston-tertiary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contraston-tertiary-fixed: rgba(19, 12, 42, 1);
    --material-themesysdark-medium-contraston-tertiary-fixed-variant: rgba(56, 49, 82, 1);
    --material-themesysdark-medium-contrastoutline: rgba(157, 164, 170, 1);
    --material-themesysdark-medium-contrastoutline-variant: rgba(125, 132, 138, 1);
    --material-themesysdark-medium-contrastprimary: rgba(149, 210, 249, 1);
    --material-themesysdark-medium-contrastprimary-container: rgba(90, 152, 188, 1);
    --material-themesysdark-medium-contrastprimary-fixed: rgba(197, 231, 255, 1);
    --material-themesysdark-medium-contrastprimary-fixed-dim: rgba(145, 206, 244, 1);
    --material-themesysdark-medium-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastsecondary: rgba(186, 205, 220, 1);
    --material-themesysdark-medium-contrastsecondary-container: rgba(128, 147, 161, 1);
    --material-themesysdark-medium-contrastsecondary-fixed: rgba(210, 229, 244, 1);
    --material-themesysdark-medium-contrastsecondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-themesysdark-medium-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastsurface: rgba(15, 20, 23, 1);
    --material-themesysdark-medium-contrastsurface-bright: rgba(53, 58, 61, 1);
    --material-themesysdark-medium-contrastsurface-container: rgba(28, 32, 35, 1);
    --material-themesysdark-medium-contrastsurface-container-high: rgba(38, 43, 46, 1);
    --material-themesysdark-medium-contrastsurface-container-highest: rgba(49, 53, 57, 1);
    --material-themesysdark-medium-contrastsurface-container-low: rgba(24, 28, 31, 1);
    --material-themesysdark-medium-contrastsurface-container-lowest: rgba(10, 15, 18, 1);
    --material-themesysdark-medium-contrastsurface-dim: rgba(15, 20, 23, 1);
    --material-themesysdark-medium-contrastsurface-tint: rgba(145, 206, 244, 1);
    --material-themesysdark-medium-contrastsurface-variant: rgba(65, 72, 77, 1);
    --material-themesysdark-medium-contrasttertiary: rgba(207, 197, 238, 1);
    --material-themesysdark-medium-contrasttertiary-container: rgba(148, 139, 177, 1);
    --material-themesysdark-medium-contrasttertiary-fixed: rgba(231, 222, 255, 1);
    --material-themesysdark-medium-contrasttertiary-fixed-dim: rgba(203, 193, 233, 1);
    --material-themesysdarkbackground: rgba(15, 20, 23, 1);
    --material-themesysdarkerror: rgba(255, 180, 171, 1);
    --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
    --material-themesysdarkinverse-on-surface: rgba(44, 49, 52, 1);
    --material-themesysdarkinverse-primary: rgba(31, 101, 134, 1);
    --material-themesysdarkinverse-surface: rgba(223, 227, 231, 1);
    --material-themesysdarkon-background: rgba(223, 227, 231, 1);
    --material-themesysdarkon-error: rgba(105, 0, 5, 1);
    --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
    --material-themesysdarkon-primary: rgba(0, 52, 74, 1);
    --material-themesysdarkon-primary-container: rgba(197, 231, 255, 1);
    --material-themesysdarkon-primary-fixed: rgba(0, 30, 45, 1);
    --material-themesysdarkon-primary-fixed-variant: rgba(0, 76, 106, 1);
    --material-themesysdarkon-secondary: rgba(32, 51, 62, 1);
    --material-themesysdarkon-secondary-container: rgba(210, 229, 244, 1);
    --material-themesysdarkon-secondary-fixed: rgba(10, 30, 40, 1);
    --material-themesysdarkon-secondary-fixed-variant: rgba(55, 73, 85, 1);
    --material-themesysdarkon-surface: rgba(223, 227, 231, 1);
    --material-themesysdarkon-surface-variant: rgba(193, 199, 206, 1);
    --material-themesysdarkon-tertiary: rgba(51, 44, 76, 1);
    --material-themesysdarkon-tertiary-container: rgba(231, 222, 255, 1);
    --material-themesysdarkon-tertiary-fixed: rgba(29, 23, 53, 1);
    --material-themesysdarkon-tertiary-fixed-variant: rgba(73, 66, 99, 1);
    --material-themesysdarkoutline: rgba(139, 146, 151, 1);
    --material-themesysdarkoutline-variant: rgba(65, 72, 77, 1);
    --material-themesysdarkprimary: rgba(145, 206, 244, 1);
    --material-themesysdarkprimary-container: rgba(0, 76, 106, 1);
    --material-themesysdarkprimary-fixed: rgba(197, 231, 255, 1);
    --material-themesysdarkprimary-fixed-dim: rgba(145, 206, 244, 1);
    --material-themesysdarkscrim: rgba(0, 0, 0, 1);
    --material-themesysdarksecondary: rgba(182, 201, 216, 1);
    --material-themesysdarksecondary-container: rgba(55, 73, 85, 1);
    --material-themesysdarksecondary-fixed: rgba(210, 229, 244, 1);
    --material-themesysdarksecondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-themesysdarkshadow: rgba(0, 0, 0, 1);
    --material-themesysdarksurface: rgba(15, 20, 23, 1);
    --material-themesysdarksurface-bright: rgba(53, 58, 61, 1);
    --material-themesysdarksurface-container: rgba(28, 32, 35, 1);
    --material-themesysdarksurface-container-high: rgba(38, 43, 46, 1);
    --material-themesysdarksurface-container-highest: rgba(49, 53, 57, 1);
    --material-themesysdarksurface-container-low: rgba(24, 28, 31, 1);
    --material-themesysdarksurface-container-lowest: rgba(10, 15, 18, 1);
    --material-themesysdarksurface-dim: rgba(15, 20, 23, 1);
    --material-themesysdarksurface-tint: rgba(145, 206, 244, 1);
    --material-themesysdarksurface-variant: rgba(65, 72, 77, 1);
    --material-themesysdarktertiary: rgba(203, 193, 233, 1);
    --material-themesysdarktertiary-container: rgba(73, 66, 99, 1);
    --material-themesysdarktertiary-fixed: rgba(231, 222, 255, 1);
    --material-themesysdarktertiary-fixed-dim: rgba(203, 193, 233, 1);
    --material-themesyslight-high-contrastbackground: rgba(246, 250, 254, 1);
    --material-themesyslight-high-contrasterror: rgba(78, 0, 2, 1);
    --material-themesyslight-high-contrasterror-container: rgba(140, 0, 9, 1);
    --material-themesyslight-high-contrastinverse-on-surface: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastinverse-primary: rgba(218, 239, 255, 1);
    --material-themesyslight-high-contrastinverse-surface: rgba(44, 49, 52, 1);
    --material-themesyslight-high-contraston-background: rgba(24, 28, 31, 1);
    --material-themesyslight-high-contraston-error: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-error-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-primary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-primary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-primary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-secondary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-secondary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-secondary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-surface: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contraston-surface-variant: rgba(30, 37, 42, 1);
    --material-themesyslight-high-contraston-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-tertiary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastoutline: rgba(61, 68, 73, 1);
    --material-themesyslight-high-contrastoutline-variant: rgba(61, 68, 73, 1);
    --material-themesyslight-high-contrastprimary: rgba(0, 37, 54, 1);
    --material-themesyslight-high-contrastprimary-container: rgba(0, 72, 101, 1);
    --material-themesyslight-high-contrastprimary-fixed: rgba(0, 72, 101, 1);
    --material-themesyslight-high-contrastprimary-fixed-dim: rgba(0, 48, 69, 1);
    --material-themesyslight-high-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contrastsecondary: rgba(18, 36, 47, 1);
    --material-themesyslight-high-contrastsecondary-container: rgba(51, 69, 81, 1);
    --material-themesyslight-high-contrastsecondary-fixed: rgba(51, 69, 81, 1);
    --material-themesyslight-high-contrastsecondary-fixed-dim: rgba(29, 47, 58, 1);
    --material-themesyslight-high-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contrastsurface: rgba(246, 250, 254, 1);
    --material-themesyslight-high-contrastsurface-bright: rgba(246, 250, 254, 1);
    --material-themesyslight-high-contrastsurface-container: rgba(235, 238, 243, 1);
    --material-themesyslight-high-contrastsurface-container-high: rgba(229, 232, 237, 1);
    --material-themesyslight-high-contrastsurface-container-highest: rgba(223, 227, 231, 1);
    --material-themesyslight-high-contrastsurface-container-low: rgba(240, 244, 248, 1);
    --material-themesyslight-high-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsurface-dim: rgba(215, 218, 223, 1);
    --material-themesyslight-high-contrastsurface-tint: rgba(31, 101, 134, 1);
    --material-themesyslight-high-contrastsurface-variant: rgba(221, 227, 234, 1);
    --material-themesyslight-high-contrasttertiary: rgba(36, 29, 61, 1);
    --material-themesyslight-high-contrasttertiary-container: rgba(69, 62, 95, 1);
    --material-themesyslight-high-contrasttertiary-fixed: rgba(69, 62, 95, 1);
    --material-themesyslight-high-contrasttertiary-fixed-dim: rgba(47, 40, 72, 1);
    --material-themesyslight-medium-contrastbackground: rgba(246, 250, 254, 1);
    --material-themesyslight-medium-contrasterror: rgba(140, 0, 9, 1);
    --material-themesyslight-medium-contrasterror-container: rgba(218, 52, 46, 1);
    --material-themesyslight-medium-contrastinverse-on-surface: rgba(237, 241, 245, 1);
    --material-themesyslight-medium-contrastinverse-primary: rgba(145, 206, 244, 1);
    --material-themesyslight-medium-contrastinverse-surface: rgba(44, 49, 52, 1);
    --material-themesyslight-medium-contraston-background: rgba(24, 28, 31, 1);
    --material-themesyslight-medium-contraston-error: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-error-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-primary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-primary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-primary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-secondary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-secondary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-secondary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-surface: rgba(24, 28, 31, 1);
    --material-themesyslight-medium-contraston-surface-variant: rgba(61, 68, 73, 1);
    --material-themesyslight-medium-contraston-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-tertiary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastoutline: rgba(89, 96, 101, 1);
    --material-themesyslight-medium-contrastoutline-variant: rgba(117, 124, 129, 1);
    --material-themesyslight-medium-contrastprimary: rgba(0, 72, 101, 1);
    --material-themesyslight-medium-contrastprimary-container: rgba(59, 123, 158, 1);
    --material-themesyslight-medium-contrastprimary-fixed: rgba(59, 123, 158, 1);
    --material-themesyslight-medium-contrastprimary-fixed-dim: rgba(27, 98, 132, 1);
    --material-themesyslight-medium-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesyslight-medium-contrastsecondary: rgba(51, 69, 81, 1);
    --material-themesyslight-medium-contrastsecondary-container: rgba(100, 119, 132, 1);
    --material-themesyslight-medium-contrastsecondary-fixed: rgba(100, 119, 132, 1);
    --material-themesyslight-medium-contrastsecondary-fixed-dim: rgba(76, 94, 107, 1);
    --material-themesyslight-medium-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesyslight-medium-contrastsurface: rgba(246, 250, 254, 1);
    --material-themesyslight-medium-contrastsurface-bright: rgba(246, 250, 254, 1);
    --material-themesyslight-medium-contrastsurface-container: rgba(235, 238, 243, 1);
    --material-themesyslight-medium-contrastsurface-container-high: rgba(229, 232, 237, 1);
    --material-themesyslight-medium-contrastsurface-container-highest: rgba(223, 227, 231, 1);
    --material-themesyslight-medium-contrastsurface-container-low: rgba(240, 244, 248, 1);
    --material-themesyslight-medium-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsurface-dim: rgba(215, 218, 223, 1);
    --material-themesyslight-medium-contrastsurface-tint: rgba(31, 101, 134, 1);
    --material-themesyslight-medium-contrastsurface-variant: rgba(221, 227, 234, 1);
    --material-themesyslight-medium-contrasttertiary: rgba(69, 62, 95, 1);
    --material-themesyslight-medium-contrasttertiary-container: rgba(120, 112, 148, 1);
    --material-themesyslight-medium-contrasttertiary-fixed: rgba(120, 112, 148, 1);
    --material-themesyslight-medium-contrasttertiary-fixed-dim: rgba(95, 87, 122, 1);
    --material-themesyslightbackground: rgba(246, 250, 254, 1);
    --material-themesyslighterror: rgba(186, 26, 26, 1);
    --material-themesyslighterror-container: rgba(255, 218, 214, 1);
    --material-themesyslightinverse-on-surface: rgba(237, 241, 245, 1);
    --material-themesyslightinverse-primary: rgba(145, 206, 244, 1);
    --material-themesyslightinverse-surface: rgba(44, 49, 52, 1);
    --material-themesyslighton-background: rgba(24, 28, 31, 1);
    --material-themesyslighton-error: rgba(255, 255, 255, 1);
    --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
    --material-themesyslighton-primary: rgba(255, 255, 255, 1);
    --material-themesyslighton-primary-container: rgba(0, 30, 45, 1);
    --material-themesyslighton-primary-fixed: rgba(0, 30, 45, 1);
    --material-themesyslighton-primary-fixed-variant: rgba(0, 76, 106, 1);
    --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
    --material-themesyslighton-secondary-container: rgba(10, 30, 40, 1);
    --material-themesyslighton-secondary-fixed: rgba(10, 30, 40, 1);
    --material-themesyslighton-secondary-fixed-variant: rgba(55, 73, 85, 1);
    --material-themesyslighton-surface: rgba(24, 28, 31, 1);
    --material-themesyslighton-surface-variant: rgba(65, 72, 77, 1);
    --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslighton-tertiary-container: rgba(29, 23, 53, 1);
    --material-themesyslighton-tertiary-fixed: rgba(29, 23, 53, 1);
    --material-themesyslighton-tertiary-fixed-variant: rgba(73, 66, 99, 1);
    --material-themesyslightoutline: rgba(113, 120, 126, 1);
    --material-themesyslightoutline-variant: rgba(193, 199, 206, 1);
    --material-themesyslightprimary: rgba(31, 101, 134, 1);
    --material-themesyslightprimary-container: rgba(197, 231, 255, 1);
    --material-themesyslightprimary-fixed: rgba(197, 231, 255, 1);
    --material-themesyslightprimary-fixed-dim: rgba(145, 206, 244, 1);
    --material-themesyslightscrim: rgba(0, 0, 0, 1);
    --material-themesyslightsecondary: rgba(78, 97, 109, 1);
    --material-themesyslightsecondary-container: rgba(210, 229, 244, 1);
    --material-themesyslightsecondary-fixed: rgba(210, 229, 244, 1);
    --material-themesyslightsecondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-themesyslightshadow: rgba(0, 0, 0, 1);
    --material-themesyslightsurface: rgba(246, 250, 254, 1);
    --material-themesyslightsurface-bright: rgba(246, 250, 254, 1);
    --material-themesyslightsurface-container: rgba(235, 238, 243, 1);
    --material-themesyslightsurface-container-high: rgba(229, 232, 237, 1);
    --material-themesyslightsurface-container-highest: rgba(223, 227, 231, 1);
    --material-themesyslightsurface-container-low: rgba(240, 244, 248, 1);
    --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslightsurface-dim: rgba(215, 218, 223, 1);
    --material-themesyslightsurface-tint: rgba(31, 101, 134, 1);
    --material-themesyslightsurface-variant: rgba(221, 227, 234, 1);
    --material-themesyslighttertiary: rgba(97, 89, 124, 1);
    --material-themesyslighttertiary-container: rgba(231, 222, 255, 1);
    --material-themesyslighttertiary-fixed: rgba(231, 222, 255, 1);
    --material-themesyslighttertiary-fixed-dim: rgba(203, 193, 233, 1);
    --material-themewhite: rgba(255, 255, 255, 1);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-material-theme-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-material-theme-mode="light"] {
    --material-theme-schemes-background: rgba(246, 250, 254, 1);
    --material-theme-schemes-error: rgba(186, 26, 26, 1);
    --material-theme-schemes-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-inverse-on-surface: rgba(237, 241, 245, 1);
    --material-theme-schemes-inverse-primary: rgba(145, 206, 244, 1);
    --material-theme-schemes-inverse-surface: rgba(44, 49, 52, 1);
    --material-theme-schemes-on-background: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-error-container: rgba(65, 0, 2, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-container: rgba(0, 30, 45, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 30, 45, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(0, 76, 106, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-container: rgba(10, 30, 40, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(10, 30, 40, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(55, 73, 85, 1);
    --material-theme-schemes-on-surface: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-surface-variant: rgba(65, 72, 77, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-container: rgba(29, 23, 53, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(29, 23, 53, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(73, 66, 99, 1);
    --material-theme-schemes-outline: rgba(113, 120, 126, 1);
    --material-theme-schemes-outline-variant: rgba(193, 199, 206, 1);
    --material-theme-schemes-primary: rgba(31, 101, 134, 1);
    --material-theme-schemes-primary-container: rgba(197, 231, 255, 1);
    --material-theme-schemes-primary-fixed: rgba(197, 231, 255, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(145, 206, 244, 1);
    --material-theme-schemes-secondary: rgba(78, 97, 109, 1);
    --material-theme-schemes-secondary-container: rgba(210, 229, 244, 1);
    --material-theme-schemes-secondary-fixed: rgba(210, 229, 244, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-theme-schemes-surface: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-bright: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-container: rgba(235, 238, 243, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 232, 237, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 227, 231, 1);
    --material-theme-schemes-surface-container-low: rgba(240, 244, 248, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 218, 223, 1);
    --material-theme-schemes-surface-tint: rgba(31, 101, 134, 1);
    --material-theme-schemes-surface-variant: rgba(221, 227, 234, 1);
    --material-theme-schemes-tertiary: rgba(97, 89, 124, 1);
    --material-theme-schemes-tertiary-container: rgba(231, 222, 255, 1);
    --material-theme-schemes-tertiary-fixed: rgba(231, 222, 255, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(203, 193, 233, 1);
  }
  
  [data-material-theme-mode="light-high-contrast"] {
    --material-theme-schemes-background: rgba(246, 250, 254, 1);
    --material-theme-schemes-error: rgba(78, 0, 2, 1);
    --material-theme-schemes-error-container: rgba(140, 0, 9, 1);
    --material-theme-schemes-inverse-on-surface: rgba(255, 255, 255, 1);
    --material-theme-schemes-inverse-primary: rgba(218, 239, 255, 1);
    --material-theme-schemes-inverse-surface: rgba(44, 49, 52, 1);
    --material-theme-schemes-on-background: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-error-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-surface: rgba(0, 0, 0, 1);
    --material-theme-schemes-on-surface-variant: rgba(30, 37, 42, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-outline: rgba(61, 68, 73, 1);
    --material-theme-schemes-outline-variant: rgba(61, 68, 73, 1);
    --material-theme-schemes-primary: rgba(0, 37, 54, 1);
    --material-theme-schemes-primary-container: rgba(0, 72, 101, 1);
    --material-theme-schemes-primary-fixed: rgba(0, 72, 101, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(0, 48, 69, 1);
    --material-theme-schemes-secondary: rgba(18, 36, 47, 1);
    --material-theme-schemes-secondary-container: rgba(51, 69, 81, 1);
    --material-theme-schemes-secondary-fixed: rgba(51, 69, 81, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(29, 47, 58, 1);
    --material-theme-schemes-surface: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-bright: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-container: rgba(235, 238, 243, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 232, 237, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 227, 231, 1);
    --material-theme-schemes-surface-container-low: rgba(240, 244, 248, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 218, 223, 1);
    --material-theme-schemes-surface-tint: rgba(31, 101, 134, 1);
    --material-theme-schemes-surface-variant: rgba(221, 227, 234, 1);
    --material-theme-schemes-tertiary: rgba(36, 29, 61, 1);
    --material-theme-schemes-tertiary-container: rgba(69, 62, 95, 1);
    --material-theme-schemes-tertiary-fixed: rgba(69, 62, 95, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(47, 40, 72, 1);
  }
  
  [data-material-theme-mode="light-medium-contrast"] {
    --material-theme-schemes-background: rgba(246, 250, 254, 1);
    --material-theme-schemes-error: rgba(140, 0, 9, 1);
    --material-theme-schemes-error-container: rgba(218, 52, 46, 1);
    --material-theme-schemes-inverse-on-surface: rgba(237, 241, 245, 1);
    --material-theme-schemes-inverse-primary: rgba(145, 206, 244, 1);
    --material-theme-schemes-inverse-surface: rgba(44, 49, 52, 1);
    --material-theme-schemes-on-background: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-error-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-surface: rgba(24, 28, 31, 1);
    --material-theme-schemes-on-surface-variant: rgba(61, 68, 73, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-outline: rgba(89, 96, 101, 1);
    --material-theme-schemes-outline-variant: rgba(117, 124, 129, 1);
    --material-theme-schemes-primary: rgba(0, 72, 101, 1);
    --material-theme-schemes-primary-container: rgba(59, 123, 158, 1);
    --material-theme-schemes-primary-fixed: rgba(59, 123, 158, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(27, 98, 132, 1);
    --material-theme-schemes-secondary: rgba(51, 69, 81, 1);
    --material-theme-schemes-secondary-container: rgba(100, 119, 132, 1);
    --material-theme-schemes-secondary-fixed: rgba(100, 119, 132, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(76, 94, 107, 1);
    --material-theme-schemes-surface: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-bright: rgba(246, 250, 254, 1);
    --material-theme-schemes-surface-container: rgba(235, 238, 243, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 232, 237, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 227, 231, 1);
    --material-theme-schemes-surface-container-low: rgba(240, 244, 248, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 218, 223, 1);
    --material-theme-schemes-surface-tint: rgba(31, 101, 134, 1);
    --material-theme-schemes-surface-variant: rgba(221, 227, 234, 1);
    --material-theme-schemes-tertiary: rgba(69, 62, 95, 1);
    --material-theme-schemes-tertiary-container: rgba(120, 112, 148, 1);
    --material-theme-schemes-tertiary-fixed: rgba(120, 112, 148, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(95, 87, 122, 1);
  }
  
  [data-material-theme-mode="dark"] {
    --material-theme-schemes-background: rgba(15, 20, 23, 1);
    --material-theme-schemes-error: rgba(255, 180, 171, 1);
    --material-theme-schemes-error-container: rgba(147, 0, 10, 1);
    --material-theme-schemes-inverse-on-surface: rgba(44, 49, 52, 1);
    --material-theme-schemes-inverse-primary: rgba(31, 101, 134, 1);
    --material-theme-schemes-inverse-surface: rgba(223, 227, 231, 1);
    --material-theme-schemes-on-background: rgba(223, 227, 231, 1);
    --material-theme-schemes-on-error: rgba(105, 0, 5, 1);
    --material-theme-schemes-on-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-on-primary: rgba(0, 52, 74, 1);
    --material-theme-schemes-on-primary-container: rgba(197, 231, 255, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 30, 45, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(0, 76, 106, 1);
    --material-theme-schemes-on-secondary: rgba(32, 51, 62, 1);
    --material-theme-schemes-on-secondary-container: rgba(210, 229, 244, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(10, 30, 40, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(55, 73, 85, 1);
    --material-theme-schemes-on-surface: rgba(223, 227, 231, 1);
    --material-theme-schemes-on-surface-variant: rgba(193, 199, 206, 1);
    --material-theme-schemes-on-tertiary: rgba(51, 44, 76, 1);
    --material-theme-schemes-on-tertiary-container: rgba(231, 222, 255, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(29, 23, 53, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(73, 66, 99, 1);
    --material-theme-schemes-outline: rgba(139, 146, 151, 1);
    --material-theme-schemes-outline-variant: rgba(65, 72, 77, 1);
    --material-theme-schemes-primary: rgba(145, 206, 244, 1);
    --material-theme-schemes-primary-container: rgba(0, 76, 106, 1);
    --material-theme-schemes-primary-fixed: rgba(197, 231, 255, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(145, 206, 244, 1);
    --material-theme-schemes-secondary: rgba(182, 201, 216, 1);
    --material-theme-schemes-secondary-container: rgba(55, 73, 85, 1);
    --material-theme-schemes-secondary-fixed: rgba(210, 229, 244, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(182, 201, 216, 1);
    --material-theme-schemes-surface: rgba(15, 20, 23, 1);
    --material-theme-schemes-surface-bright: rgba(53, 58, 61, 1);
    --material-theme-schemes-surface-container: rgba(28, 32, 35, 1);
    --material-theme-schemes-surface-container-high: rgba(38, 43, 46, 1);
    --material-theme-schemes-surface-container-highest: rgba(49, 53, 57, 1);
    --material-theme-schemes-surface-container-low: rgba(24, 28, 31, 1);
    --material-theme-schemes-surface-container-lowest: rgba(10, 15, 18, 1);
    --material-theme-schemes-surface-dim: rgba(15, 20, 23, 1);
    --material-theme-schemes-surface-tint: rgba(145, 206, 244, 1);
    --material-theme-schemes-surface-variant: rgba(65, 72, 77, 1);
    --material-theme-schemes-tertiary: rgba(203, 193, 233, 1);
    --material-theme-schemes-tertiary-container: rgba(73, 66, 99, 1);
    --material-theme-schemes-tertiary-fixed: rgba(231, 222, 255, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(203, 193, 233, 1);
  }
  