.frame {
  background-color: var(--material-themesysdark-high-contraston-background);
  border-radius: 20px;
  height: 497px;
  overflow: hidden;
  position: relative;
  width: 420px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Source Sans 3", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
}

.frame .div-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  height: 51px;
  left: 41px;
  overflow: hidden;
  position: absolute;
  top: 131px;
  width: 334px;
}

.frame .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 17px;
}

.frame .div-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 51px;
  left: 41px;
  overflow: hidden;
  position: absolute;
  top: 229px;
  width: 334px;
}

.frame .iconoir-eye {
  height: 24px;
  left: 296px;
  position: absolute;
  top: 14px;
  width: 24px;
}

.frame .div-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 74px;
  left: 41px;
  position: absolute;
  top: 367px;
}

.frame .div-wrapper-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 58px;
  overflow: hidden;
  position: relative;
  width: 62px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
}

.frame .overlap-group {
  height: 15px;
  left: 15px;
  position: relative;
  top: 20px;
  width: 32px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
}

.frame .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 162px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 329px;
}

.frame .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 205px;
}

.frame .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 107px;
}

.frame .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 273px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 292px;
}

.frame .don-t-have-an {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 454px;
}

.frame .span {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.frame .text-wrapper-9 {
  font-weight: 700;
}

.frame .line {
  height: 1px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 337px;
  width: 108px;
}

.frame .img {
  height: 1px;
  left: 267px;
  object-fit: cover;
  position: absolute;
  top: 337px;
  width: 108px;
}
